@import "../helpers/helpers.scss";
@import "variables.scss";
@import "fontface.scss";
@import "text_bg_color.scss";
@import "typography.scss";
@import "bootstrap3Grids.scss";

body {
	margin: 0;
	@extend .text_reg;
	font-family: var(--font_primary);
}

* {
	box-sizing: border-box;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

// Optional: Chrome scrollbar style
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: #FED433;
	border-radius: 4px;
}
::-webkit-scrollbar-track {
	background: #2B8B00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

picture,
video {
	display: block !important;
}

section {
	position: relative;
}

.container-fluid {
	width: 100%;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.container {
	@extend .container-fluid;
	margin: 0 auto;
	width: var(--container_width);
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.text_center {
	text-align: center;
}

.text_uppercase {
	text-transform: uppercase;
}

.text_italic {
	font-style: italic;
}

.section_spacing {
	padding: 10vmin 0;
}

// Classes for fonts
.font_primary {
	font-family: var(--font_primary);
}

.font_secondary {
	font-family: var(--font_secondary);
}

// Css for next/image tags
.next_image {
	display: block !important;
	font-size: 0px;

	span {
		display: block !important;

		* {
			display: block !important;
			max-width: unset !important;
			width: 100% !important;
		}
	}
}

.next_cover_image {
	display: block !important;
	font-size: 0px;

	span {
		display: block !important;
		height: 100% !important;

		* {
			display: block !important;
			height: 100% !important;
			max-width: unset !important;
			width: 100% !important;
		}
	}
}

.objectFitCover {
	img {
		object-fit: cover !important;
	}
}

.section_title{
	z-index: 1;
	color: #2B8B00;
	font-size: 75px;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: var(--font-braked-r);
}


.section_big_title{
	color: #fff;
	font-size: 130px;
	font-style: normal;
	font-weight: 600;
	line-height: 1;
	font-family: var(--font-braked-s-b);
	span{
		color: #2B8B00;
	}
}


.submitButton {
	background: #000;
	padding: 10px 35px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	align-self: flex-start;
	transition: all 0.3s ease;

	color: var(--White, #FFF);
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 100;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: var(--font-braked-s-b);

	&:hover {
		background: #333;
	}
}

.custom-progressbar{
	bottom: -40px;
	border-radius: 10px;
	width: 97% !important;
	left: 1.5% !important;
	height: 3px !important;
	top: inherit !important;
	span{
		border-radius: 10px;
		background-color: #000 !important;
	}
}

