$browser-prefixes: false !default;

:root {
	// Fonts
	--font_primary: "Barlow", sans-serif;
	--font-braked-r: "BRAKED";
	--font-braked-s-b: "BRAKED-Semibold";
	--font-braked-b: "BRAKED-bold";

	// Primary colors
	--color_primary_tint: #eedb95;
	--color_primary_light: #e9cf72;
	--color_primary: #e2c044;
	--color_primary_shade: #deb72b;
	--color_primary_dark: #c29f1e;
	--color_primary_deep: #9f8219;
	--color_primary_contrast: #000000;
	// Secondary colors
	--color_secondary_tint: #87a8ab;
	--color_secondary_light: #6f969b;
	--color_secondary: #587b7f;
	--color_secondary_shade: #4b696c;
	--color_secondary_dark: #3b5254;
	--color_secondary_deep: #2a3a3c;
	--color_secondary_contrast: #ffffff;
	// Secondary colors
	--color_black: #000000;
	--color_white: #ffffff;

	// Extras
	--container_width: 100%;
	--container_left_space: calc((100% - var(--container_width)) / 2);
	--transition: ease all 300ms;

	@media (min-width: 768px) and (max-width: 991px) {
		--container_width: 750px;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		--container_width: 970px;
	}

	@media (min-width: 1200px) {
		--container_width: 1170px;
	}

	// @media (min-width: 1401px) {
	//   --container_width: 1360px;
	// }
}
