@import "../helpers/helpers.scss";
			
.IndianMade{
    padding: 140px 0 0;
    position: relative;
    .LeftLine{
        left: 0;
        top: 100px;
        position: absolute;
    }
    .CenterLine{
        top: 50%;
        left: 15%;
        position: absolute; 
        transform: translate(-50%, -50%);
    }
    .RightLine{
        top: 35%;
        right: 0;
        z-index: 1;
        position: absolute; 
        transform: translateY(-50%);
    }
    .Leaf{
        right: 0;
        top: 50px;
        z-index: 1;
        position: absolute; 
    }
    .Mood{
        right: 7%;
        top: 150px;
        position: absolute;
        transform: translateX(-50%);
    }
    .Flovare1{
        top: 150px;
        left: 13%;
        position: absolute;
        transform: translateX(-50%);
    }
    .Flovare2{
        top: 42%;
        left: 28%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .Flovare3{
        top: 54%;
        right: 20%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .Flovare4{
        top: 80px;
        right: 2%;
        z-index: 1;
        position: absolute;
        transform: translateX(-50%);
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.6;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../../public/img/home/find_bg.png);
    }
    .text_section{
        .title_animation{
            text-align: center;
            h2{
                line-height: 110px;
            }
            .para_data{
                width: 65%;
                margin: auto;
                color: #236F00;
                text-align: center;
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: -0.52px;
                padding-top: 60px;
            }
        }
    }
    .bottom_img{
        width: 100%;
        display: flex;
        position: relative;
        align-items: flex-end;
        justify-content: space-between;
        .left_img{
            z-index: 1;
            position: relative;
        }
        .right_img{
            right: 0;
            bottom: 0;
            position: absolute;
        }
    }
}