@import "../helpers/helpers.scss";
			
.MainAnimationSection{
    .banner_section{
        height: 100vh;
        padding: 100px 4vw;
        position: relative;
        .bannerVector4{
            top: 150px;
            right: 0;
            position: absolute;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.6;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../../../public/img/home/banner_bg.jpg);
        }
        .bannerWave{
            left: 0;
            z-index: 1;
            width: 100%;
            bottom: -50px;
            position: absolute;
        }
        .banner{
            display: flex;
            .left_section{
                width: 55%;
                h2{
                    color: #2B8B00;
                    font-size: 185px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 145px;
                    font-family: var(--font-braked-s-b);
                }
            }
            .right_section{
                width: 45%;
                height: calc(100vh - 200px);
                position: relative;
                .BannerLeaf{
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .bannerVector1{
                    top: 54%;
                    left: -50px;
                    position: absolute;
                    transform: translateY(-50%);
                }
                .bannerVector2{
                    left: -210px;
                    bottom: -30px;
                    position: absolute;
                }
                .bannerVector3{
                    right: -80px;
                    bottom: 0px;
                    position: absolute;
                }
                .bottle{
                    position: relative;
                    .RedBottle{
                        left: 0;
                        z-index: 1;
                        top: -20px;
                        position: absolute;
                        @media (min-width: 1441px) and (max-width: 1920px) {
                            top: 0;
                        }
                    }
                    .GreenBottle{
                        right: 0;
                        z-index: 1;
                        top: -20px;
                        position: absolute;
                        @media (min-width: 1441px) and (max-width: 1920px) {
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}